.puzzle
{
cursor: crosshair;

position: static;
//position : absolute;
//position : relative; /*if used requires a width!*/
}

.row
{
position : absolute; /*brings rows into line (IE and Chrome) OK if no top or left!*/
//border : 1pt solid green;
}
				
.box ,  .box_selected
{
position : relative; /*required for pic to be absolute and therefore pics to overlap*/
//display : inline; /*not require as float fixes*/
float : left; /*fixes x,y size and also fixes vertical in div (IE and Chrome)*/
text-align: center;
vertical-align: middle;
width: 15pt;
height: 15pt;
//border : 1pt solid black;
border-top: 1pt solid;
border-right: 1pt solid;
border-left: 1pt solid;
//border-bottom: 1pt solid; /*stops under overlap due to letter size*/
}

 .box_selected
{
border-top: 1pt solid;
border-right: 1pt solid;
border-left: 1pt solid;
//border-bottom: 1pt solid;
background-color : Silver;
}

.pic
{
//position : static;
position : absolute;
//position : relative;
//display : inline;
//top : -15pt;
left : 0pt;
height : 15pt;
width : 15pt;
}

.wordselected
{
background-color : Silver;	
}